.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}

img.login-img {
    height: 95%;
    margin-left: 1.5%;
}

.right-section {
    width: 50%;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 15px;
    color: #555;
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 600;
    margin-bottom: 5px;
}

form.form input {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
}

.btn-primary {
    background: #004d45;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-primary:hover {
    background: #003a34;
}

.no-account {
    margin-top: 10px;
    font-size: 14px;
}

.no-account a {
    color: #00796b;
    text-decoration: none;
}

.btn-secondary {
    background: #dfe6e6;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}